* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

.bg-grey {
  background: #f7f7f7;
}

section > .container {
  width: 1170px;
  margin: 0 auto;
  display: block;

  /* padding: 30px 50px; */
}
/* body {
  height: 1800px;
} */

#nav-bar {
  text-align: center;
}

:root {
  --icon-color: rgb(54, 136, 229);
}
/* ---------------------------------banner css--------------- */
#banner {
  text-align: center;
  height: auto;
}

#banner img {
  filter: brightness(0.6);
  position: relative;
  /* transform: scale(0.8); */
}

.banner-contain {
  position: absolute;
  top: 150px;
  left: 40%;
  transform: translateY(-50%);
  text-align: center;
  color: #f7f7f7;
}
.banner-contain h1,
.banner-contain span {
  font-weight: lighter;
}

.banner-contain h1 {
  font-size: 44px;
}
.banner-contain span {
  font-size: 12px;
  line-height: 1.5;
}

/* ------------------------nav-bar css-------------------------- */
#nav-bar {
  /* margin: 0 auto; */
  border: 1px solid rgb(189, 192, 195);
}
#nav-bar .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#nav-bar .nav-bar-item {
  border-right: 1px solid rgb(189, 192, 195);
}
#nav-bar .nav-bar-item:first-child {
  border-left: 1px solid rgb(189, 192, 195);
}
#nav-bar .nav-bar-item:nth-child(3) {
  padding: 0 50px;
}
.nav-bar-space {
  padding: 20px;
}

.nav-bar-item h2 {
  font-size: 32px;
  font-weight: lighter;
}
.nav-bar-item span {
  font-size: 12px;
  color: rgb(189, 192, 195);
}
.nav-bar-item a:link,
.nav-bar-item a:visited {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}
.nav-bar-item .icon {
  color: var(--icon-color);
}
/* ---------------------------------------------about css------------------- */
#about {
  padding-top: 50px;
}

#about .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

#about .container #target {
  padding: 40px auto 20px auto;
}
#about #target,
#about #personal-info {
  display: block;
  padding-left: 30px;
}

#target p,
#personal-info ul {
  font-size: 10px;
  color: rgb(103, 103, 103);
  line-height: 1.5;
}
#about h1 {
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 32px;
  font-weight: lighter;
}
#personal-info ul {
  list-style: none;
}
#personal-info li {
  margin-bottom: 5px;
}
#personal-info ul li:last-child {
  margin-bottom: 20px;
}
#personal-info span {
  font-weight: bold;
}
#personal-info .icon {
  color: var(--icon-color);
  padding-bottom: 40px;
}
/* ------------------------------------------job-info css--------------- */
#job-info {
  margin-top: 40px;
}

#job-info .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.job-item {
  border: 1px solid #d8d5d5;
  box-shadow: 0 0.5px 1px;
}

.job-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

.job-header h1 {
  display: block;
  padding-top: 19px;
  padding-right: 80px;
}
.job-header i {
  margin-right: auto;
  font-size: 45px;
  display: block;
  color: rgb(171, 171, 170);
}

.job-contain {
  padding: 10px 20px 40px 50px;
}
.name-work {
  font-size: 12px;
  position: relative;
}
.name-work::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--icon-color);
  filter: blur(1px);
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  color: rgb(156, 154, 154);
}

.time-line {
  font-style: italic;
  font-size: 12px;
  color: rgb(156, 154, 154);
  padding-top: 5px;
  padding-bottom: 5px;
}
.recent {
  background-color: var(--icon-color);
  display: inline-block;
  padding: 2px 6px;
  border-radius: 5px;
  color: #fff;
}
.work-detail p {
  font-size: 14px;
  color: rgb(156, 154, 154);
  line-height: 1.5;
}
.favorite .favorite-contain {
  display: inline-block;
  text-align: center;
  padding-right: 10px;
}
.favorite-contain:first-child {
  padding-left: 10px;
}
.favorite-contain .icon {
  font-size: 25px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.favorite P {
  color: #848181;
}

/* -----------------------language -------------------------  */
.line-contain {
  display: inline-block;
  width: 44px;
  height: 3px;
  margin-right: 10px;
  margin-bottom: 20px;

  /* padding-right: 10px; */
  /* background-color: blue; */
}

.language {
  margin-bottom: 60px;
  color: #848181;
}
.language .line-contain h5 {
  color: #848181;
}
.line-blue {
  background-color: var(--icon-color);
}
.line-white {
  background-color: #d8d5d5;
}

.language-contain {
  padding-left: 40px;
}
/* --------------------------certificate css------------- */
#certificate {
  margin-top: 40px;
}

#certificate h1 {
  padding: 50px 0;
  font-size: 32px;
  font-weight: lighter;
}

.certificate-contain {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;

  flex: 1;
}
.certificate-contain img {
  height: 110px;
  width: auto;
}

.certificate-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 25px;

  margin-bottom: 50px;
}

.left {
  border-right: 1px solid rgb(220, 168, 11);
}
#certificate .last {
  padding: 50px 0;
}

.certificate-section h5 {
  font-size: 15px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.certificate-section p {
  font-size: 14px;
  line-height: 1.5;
  color: #848181;
}
hr {
  height: 1px;
  color: rgb(220, 168, 11);
  background-color: rgb(220, 168, 11);
  border: none;
}

/* ----------------------------project css------------------ */
#project {
  margin-top: 40px;
}
#project h1 {
  padding-bottom: 40px;
  font-size: 32px;
  font-weight: lighter;
}

.project-item {
  width: 1170px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  /* text-align: center; */
  margin: 0 auto;
}

.project-item {
}
.project-item img {
  width: 375px;
}

.project-header {
  padding: 20px 100px 20px 20px;
  border: 1px solid #e4e1e1;
}

.project-support recent {
  background-color: var(--icon-color);
  display: inline-block;
  padding: 2px 10px;
  border-radius: 10px;
  color: #fff;
}

.project-support {
  padding: 10px 70px 10px 15px;
  border: 1px solid #e4e1e1;
  color: #848181;
}
.project-support span {
  margin: 0 5px;
  font-size: 12px;
}

table {
  /* border: 1px solid #343a40; */
  border-collapse: collapse;
  font-size: 12px;
  line-height: 1.5;
  height: 200px;
}

td {
  border: 1px solid #e4e1e1;
  text-align: left;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
table .row-left {
  width: 25%;
}
.row-left {
  border-right: none;
}
.row-right {
  border-left: none;
}
/* ----------------------footer css ------------------- */

#footer {
  margin-top: 40px;
}
#footer .container {
  text-align: center;
  padding: 30px;
}

#footer ul {
  list-style: none;
}
#footer li {
  display: inline-block;
  padding-right: 15px;
  font-size: 12px;
  color: #848181;
}

#footer .icon {
  color: var(--icon-color);
}
