* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --icon-color: rgb(54, 136, 229);
}

body {
  font-family: "lato", sans-serif;
  color: #333;
}

ul {
  list-style-type: none;
}
img {
  width: 100%;
  height: auto;
}
i {
  color: var(--icon-color) !important;
}
a {
  text-decoration: none;
  color: #333;
}
#certificate .line {
  display: none;
}
.bg-grey {
  background: #f7f7f7;
}
/* -----banner---- */

.banner-img {
  filter: brightness(0.6);
  position: relative;
}

.banner-text {
  position: absolute;
  top: 15%;
  right: 40%;
  color: #fff;
}
/* ------personal-menu------ */
.menu-center {
  width: 50px;
}
.menu-list {
  text-align: center;
  border-left: 1px solid #333;
}
.personal-menu p {
  padding: 20px 10px;
  font-size: 12px;
  min-width: 110px;
  margin: 0;
  display: inline-block;
}
.personal-menu i {
  margin-right: 5px;
}
.menu-last {
  border-right: 1px solid #333;
}
/* -----information-------- */
.information-content {
  padding: 100px 50px;
}
.information-content h1 {
  padding-bottom: 50px;
}
.information-content li {
  padding-bottom: 5px;
}

.information-right {
  padding-left: 30px;
}
.information-icon {
  padding-left: 35px;
}
/* -----job-item------ */
.job-info {
  /* gap: 20px; */
}
.job-header {
  display: flex;
  justify-content: space-between;
}

.job-header i {
  font-size: 40px;
  padding-right: 20px;
}

.job-header {
  padding: 20px;
}

.job-item {
  border: 1px solid #c3c3c3;
  margin: 30px 20px;
  box-shadow: 0 2px 5px #c3c3c3;
  font-size: 12px;
}
.job-item h1 {
  font-size: 32px;
  font-weight: 400;
}

.job-contain {
  padding-left: 30px;
  padding-bottom: 30px;
}
.job-contain h3 {
  font-size: 16px;
  position: relative;
}
.job-contain p {
  font-size: 12px;
}

h3::before {
  content: "";
  display: block;
  background-color: aqua;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  filter: blur(1px);
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
}
.language,
.favorite {
  padding-left: 20px;
}
.language {
  padding-bottom: 20px;
}
.language-contain {
  padding-bottom: 15px;
}
h5 {
  font-size: 16px;
}
/* ------line---- */
.line {
  display: flex;
  gap: 10px;
}
.line-contain {
  height: 2px;
  width: 44px;
}
.line-blue {
  background-color: aqua;
}
.line-white {
  background-color: #c3c3c3;
}

/* --------awarad------ */
#certificate {
  padding: 30px 0;
}
.certificate-contain {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-left: 50px;
}
.certificate-section {
  padding-left: 30px;
}

.certificate-section h5 {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.section-title {
  font-size: 52px;
  margin: 30px 0;
}

hr {
  background-color: rgb(247, 108, 15);
  margin: 20px 0 30px 0;
}
/* ------project---- */
.project-header {
  padding: 20px 100px 20px 20px;
  border: 1px solid #e4e1e1;
}

.project-support .recent {
  background-color: var(--icon-color);
  display: inline-block;
  padding: 2px 10px;
  border-radius: 10px;
  color: #fff;
}

.project-support {
  padding: 10px 70px 10px 15px;
  border: 1px solid #e4e1e1;
  color: #848181;
}
.project-support span {
  margin: 0 5px;
  font-size: 12px;
}

table {
  /* border: 1px solid #343a40; */
  border-collapse: collapse;
  font-size: 12px;
  line-height: 1.5;
  height: 200px;
}

td {
  border: 1px solid #e4e1e1;
  text-align: left;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
table .row-left {
  width: 25%;
  border-right: none;
}
.row-right {
  border-left: none;
}
.project-support .recent {
  background-color: aqua;
  color: #fff;
}

/* -----kỹ năng--- */
.favorite {
  display: flex;
  gap: 10px;
  font-size: 15px;
}
.favorite-contain {
  text-align: center;
}
.favorite-contain i {
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: 1px solid #848181;
  border-radius: 50%;
  padding-top: 15px;
}
/* -------footer--- */
#footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-top: 40px;
}
#footer li {
  margin-right: 10px;
}

#footer {
  margin-top: 20px;
  height: 100px;
}

/* ------media query---- */
@media only screen and (min-width: 740px) and (max-width: 1024px) {
  .job-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 20px;
  }
}

@media only screen and (max-width: 740px) {
  .personal-menu {
    display: flex;
    flex-direction: column;
  }
  .menu-list,
  .menu-last {
    border: none;
    text-align: left;
  }
  .line {
    display: block !important;
  }
}
